/* cards */
.service-card {
  margin: 3% auto;
  position: relative;
  width: 400px;
  margin-bottom: -2%;

  /* background: red; */
}
.service-card .icon {
  width: 45px;
  height: 45px;
  background: #eaeaff;
  /* box-shadow: 1px 1px 10px black; */
  /* border: 2px solid black; */
  border-radius: 50%;
  position: absolute;
  left: 14px;
  top: 14px !important;
  z-index: 3;
  overflow: hidden;
}
.service-card .info {
  color: #979797;
  font-size: 0.9em;
  width: 90%;
  margin-top: 0.2em;
}
.service-card .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-card .s-card {
  /* width: 400px; */
  width: 100%;
  height: 220px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}
.service-card .s-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  transition: all 0.6s;
}
.service-card .s-card img:hover {
  filter: brightness(1);
  scale: 1.2;
}
.service-card .s-card .desc {
  font-size: 1.4em;
  color: #eaeaff;
  color: #333;
  position: absolute;
  top: 30%;
  left: 4%;
  font-weight: 700;
}

.service-card .info {
  /* background: red; */
  position: absolute;
  top: 45%;
  left: 4%;
  text-align: start;
  color: #979797;
  /* padding: 0 .3em; */
}

.service-card .s-card .desc p {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* page */
.services {
  height: auto;
  /* background: red; */
  overflow: hidden;
  margin-bottom: 5%;
}
.services .title-section {
  padding: 1.2em;
  margin-bottom: 2em;
}
.services h2 {
  font-size: 3.5em;
  color: #00ab4d;
}
.services .service-section {
  margin-top: -60px;
  /* background: green; */
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: space-around; */
}

@media only screen and (max-width: 500px) {
  .services {
    height: auto;
    margin-top: 10%;
  }
  .service-card {
    margin-top: 10%;
    position: relative;
    width: 350px;
    /* margin-bottom: 15%; */
  }
  .services .service-section {
    margin-top: 10px;
  }
  .service-card .s-card {
    width: 100%;
  }
  .services .title-section {
    padding: 1.2em;
    margin-bottom: -15%;
  }
  .service-card .icon {
    left: 125px;
    top: -55px;

    left: 14px;
    top: 14px !important;
  }
}
